body.ltr img.u51Section{background-image:url(../img/u/section/u51-ltr.png)}
body.rtl img.u51Section{background-image:url(../img/u/section/u51-rtl.png)}
body.ltr img.u52Section{background-image:url(../img/u/section/u52-ltr.png)}
body.rtl img.u52Section{background-image:url(../img/u/section/u52-rtl.png)}
body.ltr img.u53Section{background-image:url(../img/u/section/u53-ltr.png)}
body.rtl img.u53Section{background-image:url(../img/u/section/u53-rtl.png)}
body.ltr img.u54Section{background-image:url(../img/u/section/u54-ltr.png)}
body.rtl img.u54Section{background-image:url(../img/u/section/u54-rtl.png)}
body.ltr img.u55Section{background-image:url(../img/u/section/u55-ltr.png)}
body.rtl img.u55Section{background-image:url(../img/u/section/u55-rtl.png)}
body.ltr img.u56Section{background-image:url(../img/u/section/u56-ltr.png)}
body.rtl img.u56Section{background-image:url(../img/u/section/u56-rtl.png)}
body.ltr img.u57Section{background-image:url(../img/u/section/u57-ltr.png)}
body.rtl img.u57Section{background-image:url(../img/u/section/u57-rtl.png)}
body.ltr img.u58Section{background-image:url(../img/u/section/u58-ltr.png)}
body.rtl img.u58Section{background-image:url(../img/u/section/u58-rtl.png)}
body.ltr img.u59Section{background-image:url(../img/u/section/u59-ltr.png)}
body.rtl img.u59Section{background-image:url(../img/u/section/u59-rtl.png)}
body.ltr img.u60Section{background-image:url(../img/u/section/u60-ltr.png)}
body.rtl img.u60Section{background-image:url(../img/u/section/u60-rtl.png)}
body.ltr img.u61Section{background-image:url(../img/u/section/u61-ltr.png)}
body.rtl img.u61Section{background-image:url(../img/u/section/u61-rtl.png)}
body.ltr img.u62Section{background-image:url(../img/u/section/u62-ltr.png)}
body.rtl img.u62Section{background-image:url(../img/u/section/u62-rtl.png)}
body.ltr img.u63Section{background-image:url(../img/u/section/u63-ltr.png)}
body.rtl img.u63Section{background-image:url(../img/u/section/u63-rtl.png)}
body.ltr img.u64Section{background-image:url(../img/u/section/u64-ltr.png)}
body.rtl img.u64Section{background-image:url(../img/u/section/u64-rtl.png)}
body.ltr img.u65Section{background-image:url(../img/u/section/u65-ltr.png)}
body.rtl img.u65Section{background-image:url(../img/u/section/u65-rtl.png)}
body.ltr img.u66Section{background-image:url(../img/u/section/u66-ltr.png)}
body.rtl img.u66Section{background-image:url(../img/u/section/u66-rtl.png)}
body.ltr img.u67Section{background-image:url(../img/u/section/u67-ltr.png)}
body.rtl img.u67Section{background-image:url(../img/u/section/u67-rtl.png)}
body.ltr img.u68Section{background-image:url(../img/u/section/u68-ltr.png)}
body.rtl img.u68Section{background-image:url(../img/u/section/u68-rtl.png)}
body.ltr img.u69Section{background-image:url(../img/u/section/u69-ltr.png)}
body.rtl img.u69Section{background-image:url(../img/u/section/u69-rtl.png)}
body.ltr img.u70Section{background-image:url(../img/u/section/u70-ltr.png)}
body.rtl img.u70Section{background-image:url(../img/u/section/u70-rtl.png)}
img.u51,img.u52,img.u53,img.u54,img.u55,img.u56,img.u57,img.u58,img.u59,img.u60{background-image:url(../img/u/v6_egypts2.gif)}
img.u61,img.u62,img.u63,img.u64,img.u65,img.u66,img.u67,img.u68,img.u69,img.u70{background-image:url(../img/u/v7_huns2.gif)}
img.u1,img.u11,img.u21,img.u31,img.u41,img.u51,img.u61,img.uhab{background-position:0 0}
img.u2,img.u12,img.u22,img.u32,img.u42,img.u52,img.u62,img.ucata{background-position:-19px 0}
img.u3,img.u13,img.u23,img.u33,img.u43,img.u53,img.u63,img.uhero{background-position:-38px 0}
img.u4,img.u14,img.u24,img.u34,img.u44,img.u54,img.u64,img.uunits{background-position:-57px 0}
img.u5,img.u15,img.u25,img.u35,img.u45,img.u55,img.u65{background-position:-76px 0}
img.u6,img.u16,img.u26,img.u36,img.u46,img.u56,img.u66{background-position:-95px 0}
img.u7,img.u17,img.u27,img.u37,img.u47,img.u57,img.u67{background-position:-114px 0}
img.u8,img.u18,img.u28,img.u38,img.u48,img.u58,img.u68{background-position:-133px 0}
img.u9,img.u19,img.u29,img.u39,img.u49,img.u59,img.u69{background-position:-152px 0}
img.u10,img.u20,img.u30,img.u40,img.u50,img.u60,img.u70,img.app{background-position:-171px 0}
body.ltr img.u51Big{background-image:url(../img/u/big/u51-ltr.png);width:318px;height:500px}
body.ltr img.u52Big{background-image:url(../img/u/big/u52-ltr.png);width:393px;height:500px}
body.ltr img.u53Big{background-image:url(../img/u/big/u53-ltr.png);width:443px;height:500px}
body.ltr img.u54Big{background-image:url(../img/u/big/u54-ltr.png);width:500px;height:476px}
body.ltr img.u55Big{background-image:url(../img/u/big/u55-ltr.png);width:500px;height:304px}
body.ltr img.u56Big{background-image:url(../img/u/big/u56-ltr.png);width:500px;height:383px}
body.ltr img.u57Big{background-image:url(../img/u/big/u57-ltr.png);width:500px;height:343px}
body.ltr img.u58Big{background-image:url(../img/u/big/u58-ltr.png);width:500px;height:365px}
body.ltr img.u59Big{background-image:url(../img/u/big/u59-ltr.png);width:382px;height:500px}
body.ltr img.u60Big{background-image:url(../img/u/big/u60-ltr.png);width:500px;height:337px}
body.ltr img.u61Big{background-image:url(../img/u/big/u61-ltr.png);width:345px;height:500px}
body.ltr img.u62Big{background-image:url(../img/u/big/u62-ltr.png);width:446px;height:500px}
body.ltr img.u63Big{background-image:url(../img/u/big/u63-ltr.png);width:479px;height:500px}
body.ltr img.u64Big{background-image:url(../img/u/big/u64-ltr.png);width:358px;height:500px}
body.ltr img.u65Big{background-image:url(../img/u/big/u65-ltr.png);width:444px;height:500px}
body.ltr img.u66Big{background-image:url(../img/u/big/u66-ltr.png);width:355px;height:500px}
body.ltr img.u67Big{background-image:url(../img/u/big/u67-ltr.png);width:500px;height:245px}
body.ltr img.u68Big{background-image:url(../img/u/big/u68-ltr.png);width:500px;height:435px}
body.ltr img.u69Big{background-image:url(../img/u/big/u69-ltr.png);width:426px;height:500px}
body.ltr img.u70Big{background-image:url(../img/u/big/u70-ltr.png);width:500px;height:324px}
body.rtl img.u51Big{background-image:url(../img/u/big/u51-rtl.png);width:318px;height:500px}
body.rtl img.u52Big{background-image:url(../img/u/big/u52-rtl.png);width:393px;height:500px}
body.rtl img.u53Big{background-image:url(../img/u/big/u53-rtl.png);width:443px;height:500px}
body.rtl img.u54Big{background-image:url(../img/u/big/u54-rtl.png);width:500px;height:476px}
body.rtl img.u55Big{background-image:url(../img/u/big/u55-rtl.png);width:500px;height:304px}
body.rtl img.u56Big{background-image:url(../img/u/big/u56-rtl.png);width:500px;height:383px}
body.rtl img.u57Big{background-image:url(../img/u/big/u57-rtl.png);width:500px;height:343px}
body.rtl img.u58Big{background-image:url(../img/u/big/u58-rtl.png);width:500px;height:365px}
body.rtl img.u59Big{background-image:url(../img/u/big/u59-rtl.png);width:382px;height:500px}
body.rtl img.u60Big{background-image:url(../img/u/big/u60-rtl.png);width:500px;height:337px}
body.rtl img.u61Big{background-image:url(../img/u/big/u61-rtl.png);width:345px;height:500px}
body.rtl img.u62Big{background-image:url(../img/u/big/u62-rtl.png);width:446px;height:500px}
body.rtl img.u63Big{background-image:url(../img/u/big/u63-rtl.png);width:479px;height:500px}
body.rtl img.u64Big{background-image:url(../img/u/big/u64-rtl.png);width:358px;height:500px}
body.rtl img.u65Big{background-image:url(../img/u/big/u65-rtl.png);width:444px;height:500px}
body.rtl img.u66Big{background-image:url(../img/u/big/u66-rtl.png);width:355px;height:500px}
body.rtl img.u67Big{background-image:url(../img/u/big/u67-rtl.png);width:500px;height:245px}
body.rtl img.u68Big{background-image:url(../img/u/big/u68-rtl.png);width:500px;height:435px}
body.rtl img.u69Big{background-image:url(../img/u/big/u69-rtl.png);width:426px;height:500px}
body.rtl img.u70Big{background-image:url(../img/u/big/u70-rtl.png);width:500px;height:324px}
img.g42Icon{background-image:url(../img/g/icon/g42Icon.gif)}
img.g43Icon{background-image:url(../img/g/icon/g43Icon.gif)}
img.g44Icon{background-image:url(../img/g/icon/g44Icon.gif)}
img.g45Icon{background-image:url(../img/g/icon/g45Icon.gif)}
.male_item_115{background-image:url(../img/hero/male/items/item115.png)}
.male_item_116{background-image:url(../img/hero/male/items/item116.png)}
.male_item_117{background-image:url(../img/hero/male/items/item117.png)}
.male_item_118{background-image:url(../img/hero/male/items/item118.png)}
.male_item_119{background-image:url(../img/hero/male/items/item119.png)}
.male_item_120{background-image:url(../img/hero/male/items/item120.png)}
.male_item_121{background-image:url(../img/hero/male/items/item121.png)}
.male_item_122{background-image:url(../img/hero/male/items/item122.png)}
.male_item_123{background-image:url(../img/hero/male/items/item123.png)}
.male_item_124{background-image:url(../img/hero/male/items/item124.png)}
.male_item_125{background-image:url(../img/hero/male/items/item125.png)}
.male_item_126{background-image:url(../img/hero/male/items/item126.png)}
.male_item_127{background-image:url(../img/hero/male/items/item127.png)}
.male_item_128{background-image:url(../img/hero/male/items/item128.png)}
.male_item_129{background-image:url(../img/hero/male/items/item129.png)}
.male_item_130{background-image:url(../img/hero/male/items/item130.png)}
.male_item_131{background-image:url(../img/hero/male/items/item131.png)}
.male_item_132{background-image:url(../img/hero/male/items/item132.png)}
.male_item_133{background-image:url(../img/hero/male/items/item133.png)}
.male_item_134{background-image:url(../img/hero/male/items/item134.png)}
.male_item_135{background-image:url(../img/hero/male/items/item135.png)}
.male_item_136{background-image:url(../img/hero/male/items/item136.png)}
.male_item_137{background-image:url(../img/hero/male/items/item137.png)}
.male_item_138{background-image:url(../img/hero/male/items/item138.png)}
.male_item_139{background-image:url(../img/hero/male/items/item139.png)}
.male_item_140{background-image:url(../img/hero/male/items/item140.png)}
.male_item_141{background-image:url(../img/hero/male/items/item141.png)}
.male_item_142{background-image:url(../img/hero/male/items/item142.png)}
.male_item_143{background-image:url(../img/hero/male/items/item143.png)}
.male_item_144{background-image:url(../img/hero/male/items/item144.png)}
.female_item_115{background-image:url(../img/hero/female/items/item115.png)}
.female_item_116{background-image:url(../img/hero/female/items/item116.png)}
.female_item_117{background-image:url(../img/hero/female/items/item117.png)}
.female_item_118{background-image:url(../img/hero/female/items/item118.png)}
.female_item_119{background-image:url(../img/hero/female/items/item119.png)}
.female_item_120{background-image:url(../img/hero/female/items/item120.png)}
.female_item_121{background-image:url(../img/hero/female/items/item121.png)}
.female_item_122{background-image:url(../img/hero/female/items/item122.png)}
.female_item_123{background-image:url(../img/hero/female/items/item123.png)}
.female_item_124{background-image:url(../img/hero/female/items/item124.png)}
.female_item_125{background-image:url(../img/hero/female/items/item125.png)}
.female_item_126{background-image:url(../img/hero/female/items/item126.png)}
.female_item_127{background-image:url(../img/hero/female/items/item127.png)}
.female_item_128{background-image:url(../img/hero/female/items/item128.png)}
.female_item_129{background-image:url(../img/hero/female/items/item129.png)}
.female_item_130{background-image:url(../img/hero/female/items/item130.png)}
.female_item_131{background-image:url(../img/hero/female/items/item131.png)}
.female_item_132{background-image:url(../img/hero/female/items/item132.png)}
.female_item_133{background-image:url(../img/hero/female/items/item133.png)}
.female_item_134{background-image:url(../img/hero/female/items/item134.png)}
.female_item_135{background-image:url(../img/hero/female/items/item135.png)}
.female_item_136{background-image:url(../img/hero/female/items/item136.png)}
.female_item_137{background-image:url(../img/hero/female/items/item137.png)}
.female_item_138{background-image:url(../img/hero/female/items/item138.png)}
.female_item_139{background-image:url(../img/hero/female/items/item139.png)}
.female_item_140{background-image:url(../img/hero/female/items/item140.png)}
.female_item_141{background-image:url(../img/hero/female/items/item141.png)}
.female_item_142{background-image:url(../img/hero/female/items/item142.png)}
.female_item_143{background-image:url(../img/hero/female/items/item143.png)}
.female_item_144{background-image:url(../img/hero/female/items/item144.png)}
img.nation6{background-position:0 -105px}
img.nation7{background-position:0 -135px}
body.rtl img.g44{background-image:url(../img/g/g44-rtl.png)}
body.rtl img.g44b{background-image:url(../img/g/construction/g44b-rtl.png)}
body.rtl img.g44b{background-image:url(../img/g/construction/g44b-rtl.png)}
body.rtl img.g45{background-image:url(../img/g/g45-rtl.png)}
body.rtl img.g45b{background-image:url(../img/g/construction/g45b-rtl.png)}
body.rtl img.big.black.g42{background-image:url(../img/g/big/black/g42-rtl.png)}
body.rtl img.big.black.g43{background-image:url(../img/g/big/black/g43-rtl.png)}
body.rtl img.big.black.g44{background-image:url(../img/g/big/black/g44-rtl.png)}
body.rtl img.big.black.g45{background-image:url(../img/g/big/black/g45-rtl.png)}
body.rtl img.g42Top{background-image:url(../img/g/g42Top-rtl.png)}
body.rtl img.g42Bottom{background-image:url(../img/g/g42Bottom-rtl.png)}
body.rtl img.g42bBottom{background-image:url(../img/g/construction/g42bBottom-rtl.png)}
body.rtl img.g43Top{background-image:url(../img/g/g43Top-rtl.png)}
body.rtl img.g43Bottom{background-image:url(../img/g/g43Bottom-rtl.png)}
body.rtl img.g43bBottom{background-image:url(../img/g/construction/g43bBottom-rtl.png)}


body.ltr img.g44{background-image:url(../img/g/g44-ltr.png)}
body.ltr img.g44b{background-image:url(../img/g/construction/g44b-ltr.png)}
body.ltr img.g44b{background-image:url(../img/g/construction/g44b-ltr.png)}
body.ltr img.g45{background-image:url(../img/g/g45-ltr.png)}
body.ltr img.g45b{background-image:url(../img/g/construction/g45b-ltr.png)}
body.ltr img.big.black.g42{background-image:url(../img/g/big/black/g42-ltr.png)}
body.ltr img.big.black.g43{background-image:url(../img/g/big/black/g43-ltr.png)}
body.ltr img.big.black.g44{background-image:url(../img/g/big/black/g44-ltr.png)}
body.ltr img.big.black.g45{background-image:url(../img/g/big/black/g45-ltr.png)}
body.ltr img.g42Top{background-image:url(../img/g/g42Top-ltr.png)}
body.ltr img.g42Bottom{background-image:url(../img/g/g42Bottom-ltr.png)}
body.ltr img.g42bBottom{background-image:url(../img/g/construction/g42bBottom-ltr.png)}
body.ltr img.g43Top{background-image:url(../img/g/g43Top-ltr.png)}
body.ltr img.g43Bottom{background-image:url(../img/g/g43Bottom-ltr.png)}
body.ltr img.g43bBottom{background-image:url(../img/g/construction/g43bBottom-ltr.png)}


body.ltr #sidebarBoxQuestmaster #questmasterButton.vid_6 img.border, #sidebarBoxQuestmaster #questmasterButton.vid_6 img.mentor {
    background-image: url(../img/layout/mentorEgyptian-ltr.png);
}
body.rtl #sidebarBoxQuestmaster #questmasterButton.vid_6 img.border, #sidebarBoxQuestmaster #questmasterButton.vid_6 img.mentor {
    background-image: url(../img/layout/mentorEgyptian-rtl.png);
}
body.ltr #sidebarBoxQuestmaster #questmasterButton.vid_7 img.border, #sidebarBoxQuestmaster #questmasterButton.vid_7 img.mentor {
    background-image: url(../img/layout/mentorHun-ltr.png);
}
body.rtl #sidebarBoxQuestmaster #questmasterButton.vid_7 img.border, #sidebarBoxQuestmaster #questmasterButton.vid_7 img.mentor {
    background-image: url(../img/layout/mentorHun-rtl.png);
}
body.rtl .questWrapper .questImage img.tutorial_01_task_image_vid6{background-image:url(../img/quests/descriptionImage/tutorial_01_task_image_vid6-rtl.png)}
body.rtl .questWrapper .questImage img.tutorial_01_task_image_vid7{background-image:url(../img/quests/descriptionImage/tutorial_01_task_image_vid7-rtl.png)}
body.rtl .questWrapper .questImage img.tutorial_02_task_image_vid6{background-image:url(../img/quests/descriptionImage/tutorial_02_task_image_vid6-rtl.png)}
body.rtl .questWrapper .questImage img.tutorial_02_task_image_vid7{background-image:url(../img/quests/descriptionImage/tutorial_02_task_image_vid7-rtl.png)}
body.rtl .questWrapper .questImage img.tutorial_14_task_image_vid6{background-image:url(../img/quests/descriptionImage/tutorial_14_task_image_vid6-rtl.png)}
body.rtl .questWrapper .questImage img.tutorial_14_task_image_vid7{background-image:url(../img/quests/descriptionImage/tutorial_14_task_image_vid7-rtl.png)}
body.rtl .questWrapper .questImage img.tutorial_15_reward_image_vid6{background-image:url(../img/quests/descriptionImage/tutorial_15_reward_image_vid6-rtl.png)}
body.rtl .questWrapper .questImage img.tutorial_15_reward_image_vid7{background-image:url(../img/quests/descriptionImage/tutorial_15_reward_image_vid7-rtl.png)}
body.ltr .questWrapper .questImage img.tutorial_01_task_image_vid6{background-image:url(../img/quests/descriptionImage/tutorial_01_task_image_vid6-ltr.png)}
body.ltr .questWrapper .questImage img.tutorial_01_task_image_vid7{background-image:url(../img/quests/descriptionImage/tutorial_01_task_image_vid7-ltr.png)}
body.ltr .questWrapper .questImage img.tutorial_02_task_image_vid6{background-image:url(../img/quests/descriptionImage/tutorial_02_task_image_vid6-ltr.png)}
body.ltr .questWrapper .questImage img.tutorial_02_task_image_vid7{background-image:url(../img/quests/descriptionImage/tutorial_02_task_image_vid7-ltr.png)}
body.ltr .questWrapper .questImage img.tutorial_14_task_image_vid6{background-image:url(../img/quests/descriptionImage/tutorial_14_task_image_vid6-ltr.png)}
body.ltr .questWrapper .questImage img.tutorial_14_task_image_vid7{background-image:url(../img/quests/descriptionImage/tutorial_14_task_image_vid7-ltr.png)}
body.ltr .questWrapper .questImage img.tutorial_15_reward_image_vid6{background-image:url(../img/quests/descriptionImage/tutorial_15_reward_image_vid6-ltr.png)}
body.ltr .questWrapper .questImage img.tutorial_15_reward_image_vid7{background-image:url(../img/quests/descriptionImage/tutorial_15_reward_image_vid7-ltr.png)}
div.options .timeSettings label, div.options #advertisement label {
    margin: 6px 0;
    display: block;
}
body.Turbotra div#header a#logo {
	margin-top: 1px;
	right: 36px;
    background-position: center;
    background-size: 118px 42px;
    background-image: url(../../../customImg/turbotra_black.svg);
}
#content.village3 table#troops tbody.noPadding td { 
padding-left: 0; 
padding-right: 0;
}
#content.village3  table. vil_troops tbody.noPadding td {
padding-left: 0; 
padding-right: 0;
}
