/********** IMAGES ********* */
/********** GRID ********* */
/********** INLINE ICONS ********* */
/********** FONT ********* */
/********** DIRECTIONS ********* */
/********** TEXT ********* */
/*** MEASUREMENT ** */
/*** COLOR CODES ** */
/*** COLOR USAGE ** */
/*** DEFAULT STYLES ** */
/*** TRIBES ** */
/*** BUILDINGS ** */
/*** RESOURCES ** */
div.bigSpeechBubble {
  background: url('../../img_rtl/round/speechBubble/speechBalloonLarge-rtl.png');
  width: 55px;
  height: 44px;
}

.bigSpeechBubble img {
  width: 30px;
  height: 30px;
  position: relative;
  right: 6px;
  top: 6px;
}
