/********** IMAGES ********* */
/********** GRID ********* */
/********** INLINE ICONS ********* */
/********** FONT ********* */
/********** DIRECTIONS ********* */
/********** TEXT ********* */
/*** MEASUREMENT ** */
/*** COLOR CODES ** */
/*** COLOR USAGE ** */
/*** DEFAULT STYLES ** */
/*** TRIBES ** */
/*** BUILDINGS ** */
/*** RESOURCES ** */
#tileDetails {
  width: 552px;
}

.dialog #tileDetails {
  overflow: hidden;
  position: relative;
}

#tileDetails .detailImage {
  background-position: 0 0;
  width: 319px;
  min-height: 0;
  padding-top: 218px;
}

#tileDetails.landscape .detailImage {
  width: 552px;
  padding-top: 336px;
}

.buildingsV1 #tileDetails.village-1 .detailImage,
.buildingsV2 #tileDetails.village-1 .detailImage {
  background-image: url('../img_ltr/g/detail/village/f1-ltr.png');
}
.buildingsV1 #tileDetails.village-1 .detailImage.desert,
.buildingsV2 #tileDetails.village-1 .detailImage.desert {
  background-image: url('../img_ltr/g/detail/village/d1-ltr.png');
}
.buildingsV1 #tileDetails.village-1 .detailImage.natars,
.buildingsV2 #tileDetails.village-1 .detailImage.natars {
  background-image: url('../img_ltr/g/detail/village/natars/f1-ltr.png');
}
.buildingsV1 #tileDetails.village-2 .detailImage,
.buildingsV2 #tileDetails.village-2 .detailImage {
  background-image: url('../img_ltr/g/detail/village/f2-ltr.png');
}
.buildingsV1 #tileDetails.village-2 .detailImage.desert,
.buildingsV2 #tileDetails.village-2 .detailImage.desert {
  background-image: url('../img_ltr/g/detail/village/d2-ltr.png');
}
.buildingsV1 #tileDetails.village-2 .detailImage.natars,
.buildingsV2 #tileDetails.village-2 .detailImage.natars {
  background-image: url('../img_ltr/g/detail/village/natars/f2-ltr.png');
}
.buildingsV1 #tileDetails.village-3 .detailImage,
.buildingsV2 #tileDetails.village-3 .detailImage {
  background-image: url('../img_ltr/g/detail/village/f3-ltr.png');
}
.buildingsV1 #tileDetails.village-3 .detailImage.desert,
.buildingsV2 #tileDetails.village-3 .detailImage.desert {
  background-image: url('../img_ltr/g/detail/village/d3-ltr.png');
}
.buildingsV1 #tileDetails.village-3 .detailImage.natars,
.buildingsV2 #tileDetails.village-3 .detailImage.natars {
  background-image: url('../img_ltr/g/detail/village/natars/f3-ltr.png');
}
.buildingsV1 #tileDetails.village-4 .detailImage,
.buildingsV2 #tileDetails.village-4 .detailImage {
  background-image: url('../img_ltr/g/detail/village/f4-ltr.png');
}
.buildingsV1 #tileDetails.village-4 .detailImage.desert,
.buildingsV2 #tileDetails.village-4 .detailImage.desert {
  background-image: url('../img_ltr/g/detail/village/d4-ltr.png');
}
.buildingsV1 #tileDetails.village-4 .detailImage.natars,
.buildingsV2 #tileDetails.village-4 .detailImage.natars {
  background-image: url('../img_ltr/g/detail/village/natars/f4-ltr.png');
}
.buildingsV1 #tileDetails.village-5 .detailImage,
.buildingsV2 #tileDetails.village-5 .detailImage {
  background-image: url('../img_ltr/g/detail/village/f5-ltr.png');
}
.buildingsV1 #tileDetails.village-5 .detailImage.desert,
.buildingsV2 #tileDetails.village-5 .detailImage.desert {
  background-image: url('../img_ltr/g/detail/village/d5-ltr.png');
}
.buildingsV1 #tileDetails.village-5 .detailImage.natars,
.buildingsV2 #tileDetails.village-5 .detailImage.natars {
  background-image: url('../img_ltr/g/detail/village/natars/f5-ltr.png');
}
.buildingsV1 #tileDetails.village-6 .detailImage,
.buildingsV2 #tileDetails.village-6 .detailImage {
  background-image: url('../img_ltr/g/detail/village/f6-ltr.png');
}
.buildingsV1 #tileDetails.village-6 .detailImage.desert,
.buildingsV2 #tileDetails.village-6 .detailImage.desert {
  background-image: url('../img_ltr/g/detail/village/d6-ltr.png');
}
.buildingsV1 #tileDetails.village-6 .detailImage.natars,
.buildingsV2 #tileDetails.village-6 .detailImage.natars {
  background-image: url('../img_ltr/g/detail/village/natars/f6-ltr.png');
}
.buildingsV1 #tileDetails.village-7 .detailImage,
.buildingsV2 #tileDetails.village-7 .detailImage {
  background-image: url('../img_ltr/g/detail/village/f7-ltr.png');
}
.buildingsV1 #tileDetails.village-7 .detailImage.desert,
.buildingsV2 #tileDetails.village-7 .detailImage.desert {
  background-image: url('../img_ltr/g/detail/village/d7-ltr.png');
}
.buildingsV1 #tileDetails.village-7 .detailImage.natars,
.buildingsV2 #tileDetails.village-7 .detailImage.natars {
  background-image: url('../img_ltr/g/detail/village/natars/f7-ltr.png');
}
.buildingsV1 #tileDetails.village-8 .detailImage,
.buildingsV2 #tileDetails.village-8 .detailImage {
  background-image: url('../img_ltr/g/detail/village/f8-ltr.png');
}
.buildingsV1 #tileDetails.village-8 .detailImage.desert,
.buildingsV2 #tileDetails.village-8 .detailImage.desert {
  background-image: url('../img_ltr/g/detail/village/d8-ltr.png');
}
.buildingsV1 #tileDetails.village-8 .detailImage.natars,
.buildingsV2 #tileDetails.village-8 .detailImage.natars {
  background-image: url('../img_ltr/g/detail/village/natars/f8-ltr.png');
}
.buildingsV1 #tileDetails.village-9 .detailImage,
.buildingsV2 #tileDetails.village-9 .detailImage {
  background-image: url('../img_ltr/g/detail/village/f9-ltr.png');
}
.buildingsV1 #tileDetails.village-9 .detailImage.desert,
.buildingsV2 #tileDetails.village-9 .detailImage.desert {
  background-image: url('../img_ltr/g/detail/village/d9-ltr.png');
}
.buildingsV1 #tileDetails.village-9 .detailImage.natars,
.buildingsV2 #tileDetails.village-9 .detailImage.natars {
  background-image: url('../img_ltr/g/detail/village/natars/f9-ltr.png');
}
.buildingsV1 #tileDetails.village-10 .detailImage,
.buildingsV2 #tileDetails.village-10 .detailImage {
  background-image: url('../img_ltr/g/detail/village/f10-ltr.png');
}
.buildingsV1 #tileDetails.village-10 .detailImage.desert,
.buildingsV2 #tileDetails.village-10 .detailImage.desert {
  background-image: url('../img_ltr/g/detail/village/d10-ltr.png');
}
.buildingsV1 #tileDetails.village-10 .detailImage.natars,
.buildingsV2 #tileDetails.village-10 .detailImage.natars {
  background-image: url('../img_ltr/g/detail/village/natars/f10-ltr.png');
}
.buildingsV1 #tileDetails.village-11 .detailImage,
.buildingsV2 #tileDetails.village-11 .detailImage {
  background-image: url('../img_ltr/g/detail/village/f11-ltr.png');
}
.buildingsV1 #tileDetails.village-11 .detailImage.desert,
.buildingsV2 #tileDetails.village-11 .detailImage.desert {
  background-image: url('../img_ltr/g/detail/village/d11-ltr.png');
}
.buildingsV1 #tileDetails.village-11 .detailImage.natars,
.buildingsV2 #tileDetails.village-11 .detailImage.natars {
  background-image: url('../img_ltr/g/detail/village/natars/f11-ltr.png');
}
.buildingsV1 #tileDetails.village-12 .detailImage,
.buildingsV2 #tileDetails.village-12 .detailImage {
  background-image: url('../img_ltr/g/detail/village/f12-ltr.png');
}
.buildingsV1 #tileDetails.village-12 .detailImage.desert,
.buildingsV2 #tileDetails.village-12 .detailImage.desert {
  background-image: url('../img_ltr/g/detail/village/d12-ltr.png');
}
.buildingsV1 #tileDetails.village-12 .detailImage.natars,
.buildingsV2 #tileDetails.village-12 .detailImage.natars {
  background-image: url('../img_ltr/g/detail/village/natars/f12-ltr.png');
}
.buildingsV1 #tileDetails.village-99 .detailImage,
.buildingsV2 #tileDetails.village-99 .detailImage {
  background-image: url('../img_ltr/g/detail/village/f3-ltr.png');
}
.buildingsV1 #tileDetails.village-99 .detailImage.desert,
.buildingsV2 #tileDetails.village-99 .detailImage.desert {
  background-image: url('../img_ltr/g/detail/village/d3-ltr.png');
}
.buildingsV1 #tileDetails.village-99 .detailImage.natars,
.buildingsV2 #tileDetails.village-99 .detailImage.natars {
  background-image: url('../img_ltr/g/detail/village/natars/f3-ltr.png');
}

.buildingsV3 #tileDetails.village-1 .detailImage {
  position: relative;
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/f1.png');
}
.buildingsV3 #tileDetails.village-1 .detailImage:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-position: center top;
  background-repeat: no-repeat;
}
.buildingsV3 #tileDetails.village-1 .detailImage .option {
  position: relative;
  z-index: 1;
}
.buildingsV3 #tileDetails.village-1 .detailImage.vid1:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/fc-vid1.png');
}
.buildingsV3 #tileDetails.village-1 .detailImage.vid2:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/fc-vid2.png');
}
.buildingsV3 #tileDetails.village-1 .detailImage.vid3:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/fc-vid3.png');
}
.buildingsV3 #tileDetails.village-1 .detailImage.vid6:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/fc-vid6.png');
}
.buildingsV3 #tileDetails.village-1 .detailImage.vid7:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/fc-vid7.png');
}
.buildingsV3 #tileDetails.village-1 .detailImage.desert {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/d1.png');
}
.buildingsV3 #tileDetails.village-1 .detailImage.desert.vid1:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/dc-vid1.png');
}
.buildingsV3 #tileDetails.village-1 .detailImage.desert.vid2:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/dc-vid2.png');
}
.buildingsV3 #tileDetails.village-1 .detailImage.desert.vid3:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/dc-vid3.png');
}
.buildingsV3 #tileDetails.village-1 .detailImage.desert.vid6:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/dc-vid6.png');
}
.buildingsV3 #tileDetails.village-1 .detailImage.desert.vid7:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/dc-vid7.png');
}
.buildingsV3 #tileDetails.village-2 .detailImage {
  position: relative;
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/f2.png');
}
.buildingsV3 #tileDetails.village-2 .detailImage:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-position: center top;
  background-repeat: no-repeat;
}
.buildingsV3 #tileDetails.village-2 .detailImage .option {
  position: relative;
  z-index: 1;
}
.buildingsV3 #tileDetails.village-2 .detailImage.vid1:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/fc-vid1.png');
}
.buildingsV3 #tileDetails.village-2 .detailImage.vid2:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/fc-vid2.png');
}
.buildingsV3 #tileDetails.village-2 .detailImage.vid3:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/fc-vid3.png');
}
.buildingsV3 #tileDetails.village-2 .detailImage.vid6:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/fc-vid6.png');
}
.buildingsV3 #tileDetails.village-2 .detailImage.vid7:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/fc-vid7.png');
}
.buildingsV3 #tileDetails.village-2 .detailImage.desert {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/d2.png');
}
.buildingsV3 #tileDetails.village-2 .detailImage.desert.vid1:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/dc-vid1.png');
}
.buildingsV3 #tileDetails.village-2 .detailImage.desert.vid2:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/dc-vid2.png');
}
.buildingsV3 #tileDetails.village-2 .detailImage.desert.vid3:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/dc-vid3.png');
}
.buildingsV3 #tileDetails.village-2 .detailImage.desert.vid6:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/dc-vid6.png');
}
.buildingsV3 #tileDetails.village-2 .detailImage.desert.vid7:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/dc-vid7.png');
}
.buildingsV3 #tileDetails.village-3 .detailImage {
  position: relative;
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/f3.png');
}
.buildingsV3 #tileDetails.village-3 .detailImage:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-position: center top;
  background-repeat: no-repeat;
}
.buildingsV3 #tileDetails.village-3 .detailImage .option {
  position: relative;
  z-index: 1;
}
.buildingsV3 #tileDetails.village-3 .detailImage.vid1:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/fc-vid1.png');
}
.buildingsV3 #tileDetails.village-3 .detailImage.vid2:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/fc-vid2.png');
}
.buildingsV3 #tileDetails.village-3 .detailImage.vid3:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/fc-vid3.png');
}
.buildingsV3 #tileDetails.village-3 .detailImage.vid6:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/fc-vid6.png');
}
.buildingsV3 #tileDetails.village-3 .detailImage.vid7:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/fc-vid7.png');
}
.buildingsV3 #tileDetails.village-3 .detailImage.desert {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/d3.png');
}
.buildingsV3 #tileDetails.village-3 .detailImage.desert.vid1:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/dc-vid1.png');
}
.buildingsV3 #tileDetails.village-3 .detailImage.desert.vid2:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/dc-vid2.png');
}
.buildingsV3 #tileDetails.village-3 .detailImage.desert.vid3:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/dc-vid3.png');
}
.buildingsV3 #tileDetails.village-3 .detailImage.desert.vid6:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/dc-vid6.png');
}
.buildingsV3 #tileDetails.village-3 .detailImage.desert.vid7:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/dc-vid7.png');
}
.buildingsV3 #tileDetails.village-4 .detailImage {
  position: relative;
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/f4.png');
}
.buildingsV3 #tileDetails.village-4 .detailImage:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-position: center top;
  background-repeat: no-repeat;
}
.buildingsV3 #tileDetails.village-4 .detailImage .option {
  position: relative;
  z-index: 1;
}
.buildingsV3 #tileDetails.village-4 .detailImage.vid1:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/fc-vid1.png');
}
.buildingsV3 #tileDetails.village-4 .detailImage.vid2:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/fc-vid2.png');
}
.buildingsV3 #tileDetails.village-4 .detailImage.vid3:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/fc-vid3.png');
}
.buildingsV3 #tileDetails.village-4 .detailImage.vid6:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/fc-vid6.png');
}
.buildingsV3 #tileDetails.village-4 .detailImage.vid7:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/fc-vid7.png');
}
.buildingsV3 #tileDetails.village-4 .detailImage.desert {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/d4.png');
}
.buildingsV3 #tileDetails.village-4 .detailImage.desert.vid1:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/dc-vid1.png');
}
.buildingsV3 #tileDetails.village-4 .detailImage.desert.vid2:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/dc-vid2.png');
}
.buildingsV3 #tileDetails.village-4 .detailImage.desert.vid3:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/dc-vid3.png');
}
.buildingsV3 #tileDetails.village-4 .detailImage.desert.vid6:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/dc-vid6.png');
}
.buildingsV3 #tileDetails.village-4 .detailImage.desert.vid7:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/dc-vid7.png');
}
.buildingsV3 #tileDetails.village-5 .detailImage {
  position: relative;
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/f5.png');
}
.buildingsV3 #tileDetails.village-5 .detailImage:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-position: center top;
  background-repeat: no-repeat;
}
.buildingsV3 #tileDetails.village-5 .detailImage .option {
  position: relative;
  z-index: 1;
}
.buildingsV3 #tileDetails.village-5 .detailImage.vid1:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/fc-vid1.png');
}
.buildingsV3 #tileDetails.village-5 .detailImage.vid2:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/fc-vid2.png');
}
.buildingsV3 #tileDetails.village-5 .detailImage.vid3:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/fc-vid3.png');
}
.buildingsV3 #tileDetails.village-5 .detailImage.vid6:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/fc-vid6.png');
}
.buildingsV3 #tileDetails.village-5 .detailImage.vid7:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/fc-vid7.png');
}
.buildingsV3 #tileDetails.village-5 .detailImage.desert {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/d5.png');
}
.buildingsV3 #tileDetails.village-5 .detailImage.desert.vid1:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/dc-vid1.png');
}
.buildingsV3 #tileDetails.village-5 .detailImage.desert.vid2:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/dc-vid2.png');
}
.buildingsV3 #tileDetails.village-5 .detailImage.desert.vid3:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/dc-vid3.png');
}
.buildingsV3 #tileDetails.village-5 .detailImage.desert.vid6:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/dc-vid6.png');
}
.buildingsV3 #tileDetails.village-5 .detailImage.desert.vid7:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/dc-vid7.png');
}
.buildingsV3 #tileDetails.village-6 .detailImage {
  position: relative;
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/f6.png');
}
.buildingsV3 #tileDetails.village-6 .detailImage:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-position: center top;
  background-repeat: no-repeat;
}
.buildingsV3 #tileDetails.village-6 .detailImage .option {
  position: relative;
  z-index: 1;
}
.buildingsV3 #tileDetails.village-6 .detailImage.vid1:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/fc-vid1.png');
}
.buildingsV3 #tileDetails.village-6 .detailImage.vid2:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/fc-vid2.png');
}
.buildingsV3 #tileDetails.village-6 .detailImage.vid3:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/fc-vid3.png');
}
.buildingsV3 #tileDetails.village-6 .detailImage.vid6:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/fc-vid6.png');
}
.buildingsV3 #tileDetails.village-6 .detailImage.vid7:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/fc-vid7.png');
}
.buildingsV3 #tileDetails.village-6 .detailImage.desert {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/d6.png');
}
.buildingsV3 #tileDetails.village-6 .detailImage.desert.vid1:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/dc-vid1.png');
}
.buildingsV3 #tileDetails.village-6 .detailImage.desert.vid2:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/dc-vid2.png');
}
.buildingsV3 #tileDetails.village-6 .detailImage.desert.vid3:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/dc-vid3.png');
}
.buildingsV3 #tileDetails.village-6 .detailImage.desert.vid6:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/dc-vid6.png');
}
.buildingsV3 #tileDetails.village-6 .detailImage.desert.vid7:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/dc-vid7.png');
}
.buildingsV3 #tileDetails.village-7 .detailImage {
  position: relative;
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/f7.png');
}
.buildingsV3 #tileDetails.village-7 .detailImage:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-position: center top;
  background-repeat: no-repeat;
}
.buildingsV3 #tileDetails.village-7 .detailImage .option {
  position: relative;
  z-index: 1;
}
.buildingsV3 #tileDetails.village-7 .detailImage.vid1:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/fc-vid1.png');
}
.buildingsV3 #tileDetails.village-7 .detailImage.vid2:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/fc-vid2.png');
}
.buildingsV3 #tileDetails.village-7 .detailImage.vid3:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/fc-vid3.png');
}
.buildingsV3 #tileDetails.village-7 .detailImage.vid6:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/fc-vid6.png');
}
.buildingsV3 #tileDetails.village-7 .detailImage.vid7:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/fc-vid7.png');
}
.buildingsV3 #tileDetails.village-7 .detailImage.desert {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/d7.png');
}
.buildingsV3 #tileDetails.village-7 .detailImage.desert.vid1:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/dc-vid1.png');
}
.buildingsV3 #tileDetails.village-7 .detailImage.desert.vid2:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/dc-vid2.png');
}
.buildingsV3 #tileDetails.village-7 .detailImage.desert.vid3:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/dc-vid3.png');
}
.buildingsV3 #tileDetails.village-7 .detailImage.desert.vid6:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/dc-vid6.png');
}
.buildingsV3 #tileDetails.village-7 .detailImage.desert.vid7:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/dc-vid7.png');
}
.buildingsV3 #tileDetails.village-8 .detailImage {
  position: relative;
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/f8.png');
}
.buildingsV3 #tileDetails.village-8 .detailImage:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-position: center top;
  background-repeat: no-repeat;
}
.buildingsV3 #tileDetails.village-8 .detailImage .option {
  position: relative;
  z-index: 1;
}
.buildingsV3 #tileDetails.village-8 .detailImage.vid1:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/fc-vid1.png');
}
.buildingsV3 #tileDetails.village-8 .detailImage.vid2:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/fc-vid2.png');
}
.buildingsV3 #tileDetails.village-8 .detailImage.vid3:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/fc-vid3.png');
}
.buildingsV3 #tileDetails.village-8 .detailImage.vid6:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/fc-vid6.png');
}
.buildingsV3 #tileDetails.village-8 .detailImage.vid7:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/fc-vid7.png');
}
.buildingsV3 #tileDetails.village-8 .detailImage.desert {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/d8.png');
}
.buildingsV3 #tileDetails.village-8 .detailImage.desert.vid1:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/dc-vid1.png');
}
.buildingsV3 #tileDetails.village-8 .detailImage.desert.vid2:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/dc-vid2.png');
}
.buildingsV3 #tileDetails.village-8 .detailImage.desert.vid3:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/dc-vid3.png');
}
.buildingsV3 #tileDetails.village-8 .detailImage.desert.vid6:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/dc-vid6.png');
}
.buildingsV3 #tileDetails.village-8 .detailImage.desert.vid7:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/dc-vid7.png');
}
.buildingsV3 #tileDetails.village-9 .detailImage {
  position: relative;
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/f9.png');
}
.buildingsV3 #tileDetails.village-9 .detailImage:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-position: center top;
  background-repeat: no-repeat;
}
.buildingsV3 #tileDetails.village-9 .detailImage .option {
  position: relative;
  z-index: 1;
}
.buildingsV3 #tileDetails.village-9 .detailImage.vid1:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/fc-vid1.png');
}
.buildingsV3 #tileDetails.village-9 .detailImage.vid2:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/fc-vid2.png');
}
.buildingsV3 #tileDetails.village-9 .detailImage.vid3:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/fc-vid3.png');
}
.buildingsV3 #tileDetails.village-9 .detailImage.vid6:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/fc-vid6.png');
}
.buildingsV3 #tileDetails.village-9 .detailImage.vid7:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/fc-vid7.png');
}
.buildingsV3 #tileDetails.village-9 .detailImage.desert {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/d9.png');
}
.buildingsV3 #tileDetails.village-9 .detailImage.desert.vid1:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/dc-vid1.png');
}
.buildingsV3 #tileDetails.village-9 .detailImage.desert.vid2:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/dc-vid2.png');
}
.buildingsV3 #tileDetails.village-9 .detailImage.desert.vid3:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/dc-vid3.png');
}
.buildingsV3 #tileDetails.village-9 .detailImage.desert.vid6:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/dc-vid6.png');
}
.buildingsV3 #tileDetails.village-9 .detailImage.desert.vid7:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/dc-vid7.png');
}
.buildingsV3 #tileDetails.village-10 .detailImage {
  position: relative;
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/f10.png');
}
.buildingsV3 #tileDetails.village-10 .detailImage:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-position: center top;
  background-repeat: no-repeat;
}
.buildingsV3 #tileDetails.village-10 .detailImage .option {
  position: relative;
  z-index: 1;
}
.buildingsV3 #tileDetails.village-10 .detailImage.vid1:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/fc-vid1.png');
}
.buildingsV3 #tileDetails.village-10 .detailImage.vid2:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/fc-vid2.png');
}
.buildingsV3 #tileDetails.village-10 .detailImage.vid3:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/fc-vid3.png');
}
.buildingsV3 #tileDetails.village-10 .detailImage.vid6:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/fc-vid6.png');
}
.buildingsV3 #tileDetails.village-10 .detailImage.vid7:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/fc-vid7.png');
}
.buildingsV3 #tileDetails.village-10 .detailImage.desert {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/d10.png');
}
.buildingsV3 #tileDetails.village-10 .detailImage.desert.vid1:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/dc-vid1.png');
}
.buildingsV3 #tileDetails.village-10 .detailImage.desert.vid2:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/dc-vid2.png');
}
.buildingsV3 #tileDetails.village-10 .detailImage.desert.vid3:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/dc-vid3.png');
}
.buildingsV3 #tileDetails.village-10 .detailImage.desert.vid6:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/dc-vid6.png');
}
.buildingsV3 #tileDetails.village-10 .detailImage.desert.vid7:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/dc-vid7.png');
}
.buildingsV3 #tileDetails.village-11 .detailImage {
  position: relative;
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/f11.png');
}
.buildingsV3 #tileDetails.village-11 .detailImage:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-position: center top;
  background-repeat: no-repeat;
}
.buildingsV3 #tileDetails.village-11 .detailImage .option {
  position: relative;
  z-index: 1;
}
.buildingsV3 #tileDetails.village-11 .detailImage.vid1:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/fc-vid1.png');
}
.buildingsV3 #tileDetails.village-11 .detailImage.vid2:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/fc-vid2.png');
}
.buildingsV3 #tileDetails.village-11 .detailImage.vid3:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/fc-vid3.png');
}
.buildingsV3 #tileDetails.village-11 .detailImage.vid6:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/fc-vid6.png');
}
.buildingsV3 #tileDetails.village-11 .detailImage.vid7:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/fc-vid7.png');
}
.buildingsV3 #tileDetails.village-11 .detailImage.desert {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/d11.png');
}
.buildingsV3 #tileDetails.village-11 .detailImage.desert.vid1:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/dc-vid1.png');
}
.buildingsV3 #tileDetails.village-11 .detailImage.desert.vid2:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/dc-vid2.png');
}
.buildingsV3 #tileDetails.village-11 .detailImage.desert.vid3:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/dc-vid3.png');
}
.buildingsV3 #tileDetails.village-11 .detailImage.desert.vid6:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/dc-vid6.png');
}
.buildingsV3 #tileDetails.village-11 .detailImage.desert.vid7:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/dc-vid7.png');
}
.buildingsV3 #tileDetails.village-12 .detailImage {
  position: relative;
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/f12.png');
}
.buildingsV3 #tileDetails.village-12 .detailImage:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-position: center top;
  background-repeat: no-repeat;
}
.buildingsV3 #tileDetails.village-12 .detailImage .option {
  position: relative;
  z-index: 1;
}
.buildingsV3 #tileDetails.village-12 .detailImage.vid1:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/fc-vid1.png');
}
.buildingsV3 #tileDetails.village-12 .detailImage.vid2:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/fc-vid2.png');
}
.buildingsV3 #tileDetails.village-12 .detailImage.vid3:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/fc-vid3.png');
}
.buildingsV3 #tileDetails.village-12 .detailImage.vid6:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/fc-vid6.png');
}
.buildingsV3 #tileDetails.village-12 .detailImage.vid7:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/fc-vid7.png');
}
.buildingsV3 #tileDetails.village-12 .detailImage.desert {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/d12.png');
}
.buildingsV3 #tileDetails.village-12 .detailImage.desert.vid1:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/dc-vid1.png');
}
.buildingsV3 #tileDetails.village-12 .detailImage.desert.vid2:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/dc-vid2.png');
}
.buildingsV3 #tileDetails.village-12 .detailImage.desert.vid3:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/dc-vid3.png');
}
.buildingsV3 #tileDetails.village-12 .detailImage.desert.vid6:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/dc-vid6.png');
}
.buildingsV3 #tileDetails.village-12 .detailImage.desert.vid7:after {
  background-image: url('../img_ltr/layout/background2019/resourceFields/detail/village/tribeSpecificCenter/dc-vid7.png');
}

#tileDetails.oasis-2 .detailImage {
  background-image: url('../img_ltr/g/detail/oasis/w2-ltr.jpg');
}

#tileDetails.oasis-3 .detailImage {
  background-image: url('../img_ltr/g/detail/oasis/w3-ltr.jpg');
}

#tileDetails.oasis-4 .detailImage {
  background-image: url('../img_ltr/g/detail/oasis/w4-ltr.jpg');
}

#tileDetails.oasis-6 .detailImage {
  background-image: url('../img_ltr/g/detail/oasis/w6-ltr.jpg');
}

#tileDetails.oasis-7 .detailImage {
  background-image: url('../img_ltr/g/detail/oasis/w7-ltr.jpg');
}

#tileDetails.oasis-8 .detailImage {
  background-image: url('../img_ltr/g/detail/oasis/w8-ltr.jpg');
}

#tileDetails.oasis-10 .detailImage {
  background-image: url('../img_ltr/g/detail/oasis/w10-ltr.jpg');
}

#tileDetails.oasis-11 .detailImage {
  background-image: url('../img_ltr/g/detail/oasis/w11-ltr.jpg');
}

#tileDetails.oasis-12 .detailImage {
  background-image: url('../img_ltr/g/detail/oasis/w12-ltr.jpg');
}

#tileDetails.oasis-14 .detailImage {
  background-image: url('../img_ltr/g/detail/oasis/w14-ltr.jpg');
}

#tileDetails.oasis-15 .detailImage {
  background-image: url('../img_ltr/g/detail/oasis/w15-ltr.jpg');
}

#tileDetails.landscape-village-normal .detailImage {
  background-image: url('../img_ltr/g/detail.popup/landscape/village-normal-ltr.jpg');
}

#tileDetails.landscape-village-natars .detailImage {
  background-image: url('../img_ltr/g/detail.popup/landscape/village-natars-ltr.jpg');
}

#tileDetails.landscape-grassland .detailImage {
  background-image: url('../img_ltr/g/detail.popup/landscape/grassland-ltr.jpg');
}

#tileDetails.landscape-clay .detailImage {
  background-image: url('../img_ltr/g/detail/landscape/clay-ltr.jpg');
}

#tileDetails.landscape-forest .detailImage {
  background-image: url('../img_ltr/g/detail/landscape/forest-ltr.jpg');
}

#tileDetails.landscape-hill .detailImage {
  background-image: url('../img_ltr/g/detail/landscape/hill-ltr.jpg');
}

#tileDetails.landscape-lake .detailImage {
  background-image: url('../img_ltr/g/detail/landscape/lake-ltr.jpg');
}

#tileDetails.landscape-vulcano .detailImage {
  background-image: url('../img_ltr/g/detail/landscape/vulcano-ltr.jpg');
}

#tileDetails.landscape-desert_w .detailImage, #tileDetails.landscape-desert .detailImage {
  background-image: url('../img_ltr/g/detail/landscape/desert_w-ltr.jpg');
}

#tileDetails.landscape-sea .detailImage {
  background-image: url('../img_ltr/g/detail/landscape/sea-ltr.jpg');
}

.adventureTimers {
  padding-top: 10px;
  padding-bottom: 10px;
}

.adventureTimers table {
  background: none;
  margin-top: 5px;
  margin-bottom: 5px;
}

.adventureTimers table td {
  padding-top: 0;
  padding-bottom: 0;
}

.adventureTimers .adventureArrival {
  width: 100%;
}

.adventureTimers .adventureReturn {
  width: 100%;
}

.adventureTimers .adventureText {
  width: 30%;
  vertical-align: top;
}

.adventureTimers .adventureDuration {
  width: 15%;
  vertical-align: top;
}

.adventureTimers .adventureTimeAt {
  width: 54%;
  vertical-align: top;
}

.adventureInfo {
  margin-top: 18px;
  margin-bottom: 18px;
}

.adventureSend {
  width: 100%;
  position: relative;
  text-align: center;
}

.adventureBackButton {
  position: absolute;
  right: 0;
  top: 5px;
}

#tileDetails th,
#tileDetails td {
  padding-left: 0;
  padding-right: 0;
}

/* detailed map */
#tileDetails h1 {
  font-size: 13px;
  margin-bottom: 8px;
}
.rtl #tileDetails h1 {
  font-size: 14px;
}

#tileDetails h1 table.coordinates td {
  font-size: 13px;
}
.rtl #tileDetails h1 table.coordinates td {
  font-size: 14px;
}

#tileDetails h4 {
  font-size: 13px;
  margin-bottom: 5px;
}
.rtl #tileDetails h4 {
  font-size: 14px;
}

#tileDetails h1 span.mainVillage,
.positionDetails h1 span.mainVillage {
  font-size: 11px;
  font-weight: normal;
  margin-left: 3px;
}
.rtl #tileDetails h1 span.mainVillage, .rtl
.positionDetails h1 span.mainVillage {
  font-size: 12px;
}

.dialog #tileDetails h1 span.mainVillage {
  color: #C0C0C0;
}

#tileDetails .detailImage {
  float: left;
  margin-right: 16px;
}

#tileDetails .detailImage .options {
  margin-top: 16px;
}

#tileDetails .detailImage .option {
  margin-top: 2px;
  padding-left: 10px;
  padding-top: 4px;
  height: 19px;
}

#tileDetails .detailImage .a.arrow {
  display: block;
  font-size: 13px;
}
.rtl #tileDetails .detailImage .a.arrow {
  font-size: 14px;
}

#tileDetails div#map_details {
  float: right;
  width: 217px;
}

#tileDetails table#village_info,
#tileDetails table#distribution,
#tileDetails table#troop_info,
#tileDetails table#surrounding_info {
  margin-bottom: 20px;
}

#tileDetails table tr.first th,
#tileDetails table tr.first td {
  padding-top: 0;
}

#tileDetails table#village_info tbody th {
  width: 35%;
}

#tileDetails table#village_info tbody td {
  font-weight: bold;
}

#tileDetails table#village_info tbody th,
#tileDetails table#village_info tbody td {
  padding-top: 3px;
}

#tileDetails table#village_info tbody tr.first th,
#tileDetails table#village_info tbody tr.first td {
  padding-top: 0;
}

#tileDetails table#village_info .player,
#tileDetails table#village_info .alliance {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  direction: initial;
  max-width: 1px;
}

#tileDetails table#troop_info .ico {
  width: 10%;
}

#tileDetails table#troop_info .val {
  width: 10%;
  text-align: right;
  padding-right: 5px;
}

#tileDetails table#troop_info .val {
  font-weight: bold;
}

#tileDetails table#troop_info ul {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 2px;
  padding-left: 12px;
}

#tileDetails table#troop_info.rep tbody {
  line-height: 16px;
}

#tileDetails table#troop_info.rep img {
  float: left;
  margin-right: 5px;
}

#tileDetails table#troop_info.rep img.carry {
  float: right;
  margin-right: 55px;
}

#tileDetails table#distribution {
  width: 100%;
}

#tileDetails table#distribution .ico {
  width: 10%;
}

#tileDetails table#distribution .val {
  width: 19%;
  text-align: right;
  padding-right: 5px;
}

#tileDetails table#distribution .val {
  font-weight: bold;
}

#tileDetails .options #crud-raidlist-button {
  overflow: hidden;
  text-overflow: ellipsis;
}
