@import url("layout/layout.css");
@import url("layout/backgroundV1.css");
@import url("layout/backgroundV2.css");
@import url("layout/backgroundV3.css");
@import url("layout/headerGeneral.css");
@import url("layout/headerNavigation.css");
@import url("layout/headerGoldSilver.css");
@import url("layout/headerOutOfGame.css");
@import url("layout/center.css");
@import url("layout/stockBar.css");
@import url("layout/sidebarBox/sidebarBoxGeneral.css");
@import url("layout/sidebarBox/sidebarBoxNews.css");
@import url("layout/sidebarBox/sidebarBoxMenu.css");
@import url("layout/sidebarBox/sidebarBoxHero.css");
@import url("layout/sidebarBox/sidebarBoxAlliance.css");
@import url("layout/sidebarBox/sidebarBoxInfobox.css");
@import url("layout/sidebarBox/sidebarBoxLinklist.css");
@import url("layout/sidebarBox/sidebarBoxActiveVillage.css");
@import url("layout/sidebarBox/sidebarBoxVillagelist.css");
@import url("layout/sidebarBox/sidebarBoxDailyquests.css");
@import url("layout/sidebarBox/sidebarBoxQuestmaster.css");
@import url("layout/contentTitle.css");
@import url("layout/footer.css");
@import url("layout/stime.css");
@import url("layout/smallSpeechBubble.css");
@import url("layout/overlay.css");
