@import url("general/formalize.css");
@import url("general/general.css");
@import url("general/tips.css");
@import url("general/dialog.css");
@import url("general/button.css");
@import url("general/icons.css");
@import url("general/resources.css");
@import url("general/units.css");
@import url("general/buildings.css");
@import url("general/battle.css");
@import url("general/report.css");
@import url("general/online.css");
@import url("general/medals.css");
@import url("general/smileys.css");
@import url("general/bbEditor.css");
@import url("general/otherStuff.css");
@import url("general/menu.css");
@import url("general/boxes.css");
@import url("general/paginator.css");
@import url("general/sorting.css");
@import url("general/showCosts.css");
@import url("general/coordinates.css");
@import url("cooperation.css");
@import url("general/speechBubble.css");
@import url("general/switchDown.css");
