/********** IMAGES ********* */
/********** GRID ********* */
/********** INLINE ICONS ********* */
/********** FONT ********* */
/********** DIRECTIONS ********* */
/********** TEXT ********* */
/*** MEASUREMENT ** */
/*** COLOR CODES ** */
/*** COLOR USAGE ** */
/*** DEFAULT STYLES ** */
/*** TRIBES ** */
/*** BUILDINGS ** */
/*** RESOURCES ** */
/* ------------------- Options ------------------- */
/* ----------------------------------------------- */
/* settings */
div.options td.sel {
  width: 3%;
  text-align: center;
  padding-left: 0;
  padding-right: 15px;
}

div.options table.set input.radio {
  position: relative;
}

div.options table#links td.nr input.text {
  width: 20px;
}

div.options table#links td.nam input.text {
  width: 175px;
}

div.options table#links td.link input.text {
  width: 240px;
}

div.options table.timeSettings tbody th, div.options table#languageSettings tbody th {
  width: 20%;
}

div.options table.timeSettings tbody th.timeFormat {
  vertical-align: top;
  padding-top: 11px;
}

div.options table#entriesPerPage input.messageReport, div.options table#entriesPerPage input.troopMovementsPerPage {
  width: 25px;
}

div.options table.timeSettings select, div.options table#languageSettings select {
  width: 185px;
}

div.options table#advertisement tbody th {
  width: 25%;
}

div.options table#advertisement span.note {
  margin-right: 10px;
  font-size: 10px;
}
.rtl div.options table#advertisement span.note {
  font-size: 11px;
}

div.options .timeSettings label,
div.options #advertisement label {
  margin: 6px 0;
  display: block;
}

/* account */
div.options div.text {
  padding: 6px 9px 3px;
}

div.options table.account tbody th {
  width: 20%;
  white-space: nowrap;
}

div.options table#change_pass input.text,
div.options table#change_account_name input.text {
  width: 150px;
}

div.options table#change_account_name tbody td {
  width: 40%;
}

div.options table#change_mail tbody th {
  width: 20%;
  white-space: nowrap;
}

div.options table#change_mail th.process {
  color: #FF0000;
}
.colorBlind div.options table#change_mail th.process {
  color: #0022AF;
}

div.options div.text p.maxSitters {
  font-size: 12px;
  margin-top: 0;
}
.rtl div.options div.text p.maxSitters {
  font-size: 13px;
}

div.options .sitters div.boxes-contents,
div.options .sitters2 div.boxes-contents {
  text-align: center;
  padding: 2px 0;
}

div.options .sitters th {
  padding: 0px 6px;
}

div.options .sitters div.boxes-contents,
div.options .sitters2 div.boxes-contents {
  padding: 4px 25px;
}

div.options .sitters div.boxes-contents span,
div.options .sitters2 div.boxes-contents span {
  white-space: nowrap;
  color: #F2F2F2;
}

div.options table.sitters2 {
  margin-top: 5px;
}

div.options table.sitters2 td {
  text-align: center;
}

div.options .sitters td {
  width: 5%;
  padding: 0;
}

div.options .sitters td {
  width: 95%;
  padding: 1px 5px;
}

div.options tr.sitterHead td {
  padding: 2px 4px;
}

div.options table.sitters2 td.name {
  white-space: nowrap;
  width: 20%;
}

div.options table#sharedUsage th {
  width: 20%;
  white-space: nowrap;
}

div.options table#del_acc td.del_selection {
  text-align: right;
}

div.options table#del_acc td.del_selection label {
  margin-left: 20px;
}

div.options div.submitButtonContainer {
  text-align: center;
  margin-top: 15px;
}

div.options table#del_acc td.count {
  font-weight: bold;
}

div.options table#del_acc td.count span {
  color: #FF8000;
}

div.options table#del_acc input.radio {
  position: relative;
}

/* grafikpack */
div.options table#gpack td {
  text-align: right;
  height: 24px;
}

div.options table#gpack td span.alert {
  color: #FF0000;
  font-weight: bold;
}

div.options table#gpack td input.radio {
  position: relative;
  margin-right: 2px;
  margin-left: 2px;
}

div.options table#gpack td input.text {
  margin-right: 15px;
  width: 220px;
}

div.options table#gpack td div.example {
  margin-right: 22px;
  font-size: 11px;
}
.rtl div.options table#gpack td div.example {
  font-size: 12px;
}

div.options table#gpack td div.example span.path {
  color: #FF8000;
}

div.options table#download thead td {
  white-space: nowrap;
}

div.options table#gpack td.info {
  text-align: center;
  font-size: 11px;
}
.rtl div.options table#gpack td.info {
  font-size: 12px;
}

div.options table#download td.nam {
  text-align: right;
}

div.options table#download td.size {
  width: 22%;
}

div.options table#download td.act {
  width: 22%;
}

div.options table#download td.down {
  width: 22%;
}

div.options table#other td.noOptions {
  font-style: italic;
  color: #858585;
}

div.options span.pleaseSaveYourChanges {
  float: left;
  color: #F88C1F;
}

div.options span.pleaseSaveYourChanges.hidden {
  display: none;
}
