/********** IMAGES ********* */
/********** GRID ********* */
/********** INLINE ICONS ********* */
/********** FONT ********* */
/********** DIRECTIONS ********* */
/********** TEXT ********* */
/*** MEASUREMENT ** */
/*** COLOR CODES ** */
/*** COLOR USAGE ** */
/*** DEFAULT STYLES ** */
/*** TRIBES ** */
/*** BUILDINGS ** */
/*** RESOURCES ** */
/* Information about culture points and village slots */
#sidebarBoxVillagelist .header .expansionSlotInfo {
  position: relative;
  z-index: 1;
}
#sidebarBoxVillagelist .header .expansionSlotInfo .boxTitleAdditional {
  font-weight: bold;
  font-size: 11px;
  float: left;
}
.rtl #sidebarBoxVillagelist .header .expansionSlotInfo .boxTitleAdditional {
  font-size: 12px;
}
#sidebarBoxVillagelist .header .villageListBarBox {
  position: relative;
  height: 10px;
  margin: 2px 0 0;
  padding: 1px;
  background-color: #FEF0CE;
  border: 1px solid #A6A6A6;
  border-radius: 3px;
}
#sidebarBoxVillagelist .header .villageListBarBox .bar {
  background-color: #006900;
  border-radius: 2px;
  height: 6px;
}
#sidebarBoxVillagelist .header .toggle {
  display: none;
}
#sidebarBoxVillagelist .content ul li a {
  height: 20px;
}
#sidebarBoxVillagelist .content ul li a img {
  width: 10px;
  height: 10px;
  position: absolute;
  right: 6px;
  top: 4px;
}
#sidebarBoxVillagelist .content ul li a .name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  direction: initial;
}
#sidebarBoxVillagelist .content ul li.attack a img {
  background-image: url('../../../img_rtl/layout/icons/attacks.gif');
}

.colorBlind #sidebarBoxVillagelist .content ul li.attack a img {
  background-image: url('../../../img_rtl/layout/icons/attacksColorblind.gif');
}

#sidebarBoxVillagelist .sidebarBoxInnerBox .name {
  width: 150px;
  overflow: hidden;
}
#sidebarBoxVillagelist .sidebarBoxInnerBox .coordinates {
  position: absolute;
  left: 0;
  top: 1px;
  width: 59px;
  /* this is an exception! do NOT use the font mixins here! */
  font-size: 10px;
  font-family: Arial, Helvetica, Verdana, sans-serif;
  line-height: 15px;
  border-right: 1px solid #B4A778;
}
#sidebarBoxVillagelist .sidebarBoxInnerBox .coordinates .coordinateX, #sidebarBoxVillagelist .sidebarBoxInnerBox .coordinates .coordinateY {
  width: 27px;
}
#sidebarBoxVillagelist .sidebarBoxInnerBox .coordinates .coordinatePipe {
  width: 5px;
}
#sidebarBoxVillagelist .sidebarBoxInnerBox.toggleable .sidebarBoxInnerBox .footer {
  height: 16px;
  margin-top: 0;
  background-position: left top;
  margin-bottom: 8px;
  z-index: 2;
}

/* for mobile and tablet */
@media only screen and (max-device-width: 1024px) {
  /* Villages list items bigger */
  #sidebarBoxVillagelist .content ul li a,
  #sidebarBoxVillagelist .content ul li .name,
  #sidebarBoxVillagelist .content ul li .coordinates {
    height: 34px;
    line-height: 34px;
  }
  #sidebarBoxVillagelist .content ul li a img {
    top: 12px;
  }
}
