/********** IMAGES ********* */
/********** GRID ********* */
/********** INLINE ICONS ********* */
/********** FONT ********* */
/********** DIRECTIONS ********* */
/********** TEXT ********* */
/*** MEASUREMENT ** */
/*** COLOR CODES ** */
/*** COLOR USAGE ** */
/*** DEFAULT STYLES ** */
/*** TRIBES ** */
/*** BUILDINGS ** */
/*** RESOURCES ** */
div.sidebar div#sidebarBoxHero {
  margin-top: 80px;
}
div.sidebar div#sidebarBoxHero .heroImageButton {
  position: absolute;
  text-align: center;
  top: -75px;
  right: calc(50% - 54px);
  height: 107px;
  width: 107px;
}
div.sidebar div#sidebarBoxHero .heroImageButton:before {
  content: "";
  position: absolute;
  top: 12px;
  left: 15px;
  bottom: 16px;
  right: 12px;
  z-index: 1;
  border-radius: 50%;
  background-image: linear-gradient(to bottom, #e7e1c9, #e8e2ca, #cac4aa);
  box-shadow: inset 0 0 15px 3px rgba(0, 0, 0, 0.5);
}
div.sidebar div#sidebarBoxHero .heroImageButton .heroImage {
  position: relative;
  bottom: 0;
  z-index: 2;
}
div.sidebar div#sidebarBoxHero .heroImageButton:not(.background):after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 3;
  background-image: url('../../../img_rtl/layout/heroBorder.png');
  background-repeat: no-repeat;
  border-radius: 50%;
}
div.sidebar div#sidebarBoxHero .heroImageButton:hover:not(:active):before {
  background-image: linear-gradient(to bottom, #f5f0d7, #fdf8dd, #fdf8dd);
  box-shadow: inset 0 0 15px 3px rgba(0, 0, 0, 0.4);
}
div.sidebar div#sidebarBoxHero .heroImageButton:hover:not(:active):after {
  filter: brightness(1.1);
}
div.sidebar div#sidebarBoxHero .heroImageButton:active:before {
  background-image: linear-gradient(to bottom, #aca99a, #b4b09e, #bebaab);
}
div.sidebar div#sidebarBoxHero .heroImageButton:active:after {
  filter: brightness(0.9);
}
div.sidebar div#sidebarBoxHero .header {
  height: 60px;
}
div.sidebar div#sidebarBoxHero .header .playerName {
  position: absolute;
  bottom: 10px;
  width: 100%;
  z-index: 2;
  line-height: 22px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  direction: initial;
}
div.sidebar div#sidebarBoxHero .header .playerName i {
  vertical-align: middle;
}

div.sidebar div#sidebarBoxHero .heroHealthBarBox,
div.sidebar div#sidebarBoxHero .heroXpBarBox {
  position: relative;
  height: 10px;
  margin: 10px 23px 10px 0;
  padding: 1px;
  background-color: #FEF0CE;
  border: 1px solid #A6A6A6;
  border-radius: 3px;
}
div.sidebar div#sidebarBoxHero .heroHealthBarBox a,
div.sidebar div#sidebarBoxHero .heroXpBarBox a {
  position: relative;
  right: -25px;
  float: right;
  top: -7px;
}
div.sidebar div#sidebarBoxHero .heroHealthBarBox .bar,
div.sidebar div#sidebarBoxHero .heroXpBarBox .bar {
  background-color: #006900;
  border-radius: 2px;
  height: 6px;
}
div.sidebar div#sidebarBoxHero .heroHealthBarBox.regeneration .bar {
  background-color: #F88C1F;
}
div.sidebar div#sidebarBoxHero .heroXpBarBox .iExperience {
  width: 16px;
  height: 16px;
  background-image: url('../../../img_rtl/report/experience-rtl.png');
}
div.sidebar div#sidebarBoxHero .heroHealthBarBox .injury {
  width: 16px;
  height: 16px;
  background-image: url('../../../img_rtl/report/injury-rtl.png');
}
div.sidebar div#sidebarBoxHero .bigSpeechBubble {
  position: absolute;
  top: -20px;
  right: 70px;
  z-index: 3;
}
div.sidebar div#sidebarBoxHero .bigSpeechBubble.dead img {
  background-image: url('../../../img_rtl/layout/icons/skull-rtl.png');
}
div.sidebar div#sidebarBoxHero .bigSpeechBubble.levelUp img {
  background-image: url('../../../img_rtl/layout/icons/star-rtl.png');
}
