/********** IMAGES ********* */
/********** GRID ********* */
/********** INLINE ICONS ********* */
/********** FONT ********* */
/********** DIRECTIONS ********* */
/********** TEXT ********* */
/*** MEASUREMENT ** */
/*** COLOR CODES ** */
/*** COLOR USAGE ** */
/*** DEFAULT STYLES ** */
/*** TRIBES ** */
/*** BUILDINGS ** */
/*** RESOURCES ** */
div.sidebar div#sidebarBoxAllianceNoNews div.sidebarBoxBaseBox div.baseBox, div.sidebar div#sidebarBoxAllianceNoNews div.sidebarBoxInnerBox div.innerBox {
  background: none;
}
div.sidebar div#sidebarBoxAllianceNoNews div.header:after {
  display: none;
}
div.sidebar div#sidebarBoxAllianceNoNews div.header div.boxTitle {
  top: 1px;
  overflow: hidden;
  height: 16px;
  word-wrap: break-word;
}
div.sidebar div#sidebarBoxAlliance div.sidebarBoxInnerBox ul li {
  padding: 5px 2px;
  overflow: hidden;
}
div.sidebar div#sidebarBoxAlliance div.sidebarBoxInnerBox ul li a {
  display: inline;
  color: #99C01A;
}
div.sidebar div#sidebarBoxAlliance div.sidebarBoxInnerBox a {
  font-weight: bold;
}
