/********** IMAGES ********* */
/********** GRID ********* */
/********** INLINE ICONS ********* */
/********** FONT ********* */
/********** DIRECTIONS ********* */
/********** TEXT ********* */
/*** MEASUREMENT ** */
/*** COLOR CODES ** */
/*** COLOR USAGE ** */
/*** DEFAULT STYLES ** */
/*** TRIBES ** */
/*** BUILDINGS ** */
/*** RESOURCES ** */
.buildingsV3 #build .upgradeHeader {
  background-image: url('../../img_ltr/views/buildings/upgradeBuilding/background1.jpg');
  width: 560px;
  height: 160px;
  max-width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  margin-top: -5px;
}
.buildingsV3 #build .upgradeHeader.levelSpecificInfo {
  background-image: url('../../img_ltr/views/buildings/upgradeBuilding/background2.jpg');
  width: 560px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration {
  position: absolute;
  top: 0;
  right: 0;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g5.roman {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/roman/g5.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g5.teuton {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/teuton/g5.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g5.gaul {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/gaul/g5.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g5.egyptian {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/egyptian/g5.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g5.hun {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/hun/g5.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g6.roman {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/roman/g6.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g6.teuton {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/teuton/g6.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g6.gaul {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/gaul/g6.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g6.egyptian {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/egyptian/g6.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g6.hun {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/hun/g6.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g7.roman {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/roman/g7.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g7.teuton {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/teuton/g7.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g7.gaul {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/gaul/g7.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g7.egyptian {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/egyptian/g7.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g7.hun {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/hun/g7.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g8.roman {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/roman/g8.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g8.teuton {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/teuton/g8.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g8.gaul {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/gaul/g8.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g8.egyptian {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/egyptian/g8.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g8.hun {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/hun/g8.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g9.roman {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/roman/g9.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g9.teuton {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/teuton/g9.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g9.gaul {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/gaul/g9.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g9.egyptian {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/egyptian/g9.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g9.hun {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/hun/g9.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g10.roman {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/roman/g10.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g10.teuton {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/teuton/g10.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g10.gaul {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/gaul/g10.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g10.egyptian {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/egyptian/g10.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g10.hun {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/hun/g10.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g11.roman {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/roman/g11.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g11.teuton {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/teuton/g11.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g11.gaul {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/gaul/g11.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g11.egyptian {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/egyptian/g11.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g11.hun {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/hun/g11.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g13.roman {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/roman/g13.png');
  width: 290px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g13.teuton {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/teuton/g13.png');
  width: 290px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g13.gaul {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/gaul/g13.png');
  width: 290px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g13.egyptian {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/egyptian/g13.png');
  width: 290px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g13.hun {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/hun/g13.png');
  width: 290px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g14.roman {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/roman/g14.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g14.teuton {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/teuton/g14.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g14.gaul {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/gaul/g14.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g14.egyptian {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/egyptian/g14.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g14.hun {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/hun/g14.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g15.roman {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/roman/g15.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g15.teuton {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/teuton/g15.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g15.gaul {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/gaul/g15.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g15.egyptian {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/egyptian/g15.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g15.hun {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/hun/g15.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g16.roman {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/roman/g16.png');
  width: 290px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g16.teuton {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/teuton/g16.png');
  width: 290px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g16.gaul {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/gaul/g16.png');
  width: 290px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g16.egyptian {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/egyptian/g16.png');
  width: 290px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g16.hun {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/hun/g16.png');
  width: 290px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g17.roman {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/roman/g17.png');
  width: 290px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g17.teuton {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/teuton/g17.png');
  width: 290px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g17.gaul {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/gaul/g17.png');
  width: 290px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g17.egyptian {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/egyptian/g17.png');
  width: 290px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g17.hun {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/hun/g17.png');
  width: 290px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g18.roman {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/roman/g18.png');
  width: 290px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g18.teuton {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/teuton/g18.png');
  width: 290px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g18.gaul {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/gaul/g18.png');
  width: 290px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g18.egyptian {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/egyptian/g18.png');
  width: 290px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g18.hun {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/hun/g18.png');
  width: 290px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g19.roman {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/roman/g19.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g19.teuton {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/teuton/g19.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g19.gaul {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/gaul/g19.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g19.egyptian {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/egyptian/g19.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g19.hun {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/hun/g19.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g20.roman {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/roman/g20.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g20.teuton {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/teuton/g20.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g20.gaul {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/gaul/g20.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g20.egyptian {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/egyptian/g20.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g20.hun {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/hun/g20.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g21.roman {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/roman/g21.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g21.teuton {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/teuton/g21.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g21.gaul {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/gaul/g21.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g21.egyptian {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/egyptian/g21.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g21.hun {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/hun/g21.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g22.roman {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/roman/g22.png');
  width: 290px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g22.teuton {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/teuton/g22.png');
  width: 290px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g22.gaul {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/gaul/g22.png');
  width: 290px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g22.egyptian {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/egyptian/g22.png');
  width: 290px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g22.hun {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/hun/g22.png');
  width: 290px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g23.roman {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/roman/g23.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g23.teuton {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/teuton/g23.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g23.gaul {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/gaul/g23.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g23.egyptian {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/egyptian/g23.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g23.hun {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/hun/g23.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g24.roman {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/roman/g24.png');
  width: 290px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g24.teuton {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/teuton/g24.png');
  width: 290px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g24.gaul {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/gaul/g24.png');
  width: 290px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g24.egyptian {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/egyptian/g24.png');
  width: 290px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g24.hun {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/hun/g24.png');
  width: 290px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g25.roman {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/roman/g25.png');
  width: 290px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g25.teuton {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/teuton/g25.png');
  width: 290px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g25.gaul {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/gaul/g25.png');
  width: 290px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g25.egyptian {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/egyptian/g25.png');
  width: 290px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g25.hun {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/hun/g25.png');
  width: 290px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g26.roman {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/roman/g26.png');
  width: 290px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g26.teuton {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/teuton/g26.png');
  width: 290px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g26.gaul {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/gaul/g26.png');
  width: 290px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g26.egyptian {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/egyptian/g26.png');
  width: 290px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g26.hun {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/hun/g26.png');
  width: 290px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g27.roman {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/roman/g27.png');
  width: 290px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g27.teuton {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/teuton/g27.png');
  width: 290px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g27.gaul {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/gaul/g27.png');
  width: 290px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g27.egyptian {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/egyptian/g27.png');
  width: 290px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g27.hun {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/hun/g27.png');
  width: 290px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g28.roman {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/roman/g28.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g28.teuton {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/teuton/g28.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g28.gaul {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/gaul/g28.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g28.egyptian {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/egyptian/g28.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g28.hun {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/hun/g28.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g29.roman {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/roman/g29.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g29.teuton {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/teuton/g29.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g29.gaul {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/gaul/g29.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g29.egyptian {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/egyptian/g29.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g29.hun {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/hun/g29.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g30.roman {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/roman/g30.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g30.teuton {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/teuton/g30.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g30.gaul {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/gaul/g30.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g30.egyptian {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/egyptian/g30.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g30.hun {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/hun/g30.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g34.roman {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/roman/g34.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g34.teuton {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/teuton/g34.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g34.gaul {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/gaul/g34.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g34.egyptian {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/egyptian/g34.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g34.hun {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/hun/g34.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g37.roman {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/roman/g37.png');
  width: 290px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g37.teuton {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/teuton/g37.png');
  width: 290px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g37.gaul {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/gaul/g37.png');
  width: 290px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g37.egyptian {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/egyptian/g37.png');
  width: 290px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g37.hun {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/hun/g37.png');
  width: 290px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g38.roman {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/roman/g38.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g38.teuton {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/teuton/g38.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g38.gaul {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/gaul/g38.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g38.egyptian {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/egyptian/g38.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g38.hun {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/hun/g38.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g39.roman {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/roman/g39.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g39.teuton {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/teuton/g39.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g39.gaul {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/gaul/g39.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g39.egyptian {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/egyptian/g39.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g39.hun {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/hun/g39.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g41 {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/roman/g41.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g35 {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/teuton/g35.png');
  width: 290px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g36 {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/gaul/g36.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g45 {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/egyptian/g45.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g44 {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/hun/g44.png');
  width: 290px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g31 {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/roman/g31.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g32 {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/teuton/g32.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g33 {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/gaul/g33.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g42 {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/egyptian/g42.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g43 {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/hun/g43.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g1 {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/g1.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g2 {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/g2.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g3 {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/g3.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g4 {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/g4.png');
  width: 241px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g40.roman {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/roman/g40.png');
  width: 290px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g40.teuton {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/teuton/g40.png');
  width: 290px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader .buildingIllustration.g40.gaul {
  background-image: url('../../img_ltr/g/upgradeView2019/buildingIllustrations/gaul/g40.png');
  width: 290px;
  height: 160px;
}
.buildingsV3 #build .upgradeHeader #build_value {
  width: 62%;
  position: relative;
  color: #F2F2F2;
  margin-bottom: 0;
  margin-left: 10px;
}
.buildingsV3 #build .buildingDescription {
  position: relative;
  z-index: 2;
}
.buildingsV3 #build .buildingDescription .headline {
  background-color: #F9FBF4;
  border: solid 1px #A1BC79;
  background: linear-gradient(to right, #cbe0ac, #F9FBF4);
  min-height: 25px;
  line-height: 25px;
  text-align: left;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 28px auto;
  grid-template-columns: 28px auto;
}
.buildingsV3 #build .buildingDescription .headline h4 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  margin-bottom: 0;
  padding: 0;
}
.buildingsV3 #build .buildingDescription .headline .openedClosedSwitch {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-row-align: center;
  align-self: center;
  width: 17px;
  height: 17px;
  padding: 0;
  display: inline-block;
}
.buildingsV3 #build .buildingDescription .description {
  overflow: hidden;
  box-sizing: border-box;
  padding-top: 20px;
  padding-bottom: 20px;
  display: block;
}
.buildingsV3 #build .buildingDescription.collapsed .headline {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.buildingsV3 #build .buildingDescription.collapsed .description {
  display: none;
}
.buildingsV3 #build .buildingDescription.collapsed ~ .upgradeBuilding {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-top: -2px;
}
.buildingsV3 #build .upgradeBuilding {
  background-color: #F9FBF4;
  border: solid 1px #A1BC79;
  border-radius: 4px;
  margin-bottom: 20px;
}
.buildingsV3 #build .upgradeBuilding .contractWrapper {
  box-sizing: border-box;
  width: calc(100% - 20px);
  text-align: center;
  padding: 10px 0;
  margin: 0 10px;
  border-bottom: dotted 1px #C0C0C0;
}
.buildingsV3 #build .upgradeBuilding .contractWrapper .upgradeBlocked {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}
.buildingsV3 #build .upgradeBuilding .contractWrapper .upgradeBlocked .errorMessage {
  color: #777777;
  font-weight: bold;
  padding: 0;
  margin: 10px 0 0;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-align: start;
  justify-self: start;
  -ms-grid-row-align: center;
  align-self: center;
}
.buildingsV3 #build .upgradeBuilding .contractWrapper .upgradeBlocked button {
  margin: 10px 0 0;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-align: end;
  justify-self: end;
}
.buildingsV3 #build .upgradeBuilding .upgradeButtonsContainer button {
  display: block;
  margin: 0 auto 8px;
}
.buildingsV3 #build .upgradeBuilding.completed {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}
.buildingsV3 #build .upgradeBuilding.completed .completedMessage {
  font-weight: bold;
  -ms-grid-row-align: center;
  align-self: center;
  padding-left: 10px;
}
.buildingsV3 #build .upgradeBuilding.completed .completedMessage span {
  color: #000000;
}
.buildingsV3 #build .upgradeBuilding.completed .errorMessage {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-align: center;
  align-self: center;
  margin: 0;
  padding-left: 10px;
}
.buildingsV3 #build .upgradeBuilding.completed .errorMessage span {
  color: #000000;
}
.buildingsV3 #build .upgradeBuilding.completed .culturePointsAndPopulation {
  -ms-grid-column: 2;
  grid-column-start: 2;
  text-align: right;
  border-bottom: none;
}
