/********** IMAGES ********* */
/********** GRID ********* */
/********** INLINE ICONS ********* */
/********** FONT ********* */
/********** DIRECTIONS ********* */
/********** TEXT ********* */
/*** MEASUREMENT ** */
/*** COLOR CODES ** */
/*** COLOR USAGE ** */
/*** DEFAULT STYLES ** */
/*** TRIBES ** */
/*** BUILDINGS ** */
/*** RESOURCES ** */
/* sorting */
a.sorting img {
  width: 0;
  height: 0;
}

a.sorting.asc img {
  width: 8px;
  height: 4px;
  background-image: url('../../img_rtl/pager/asc.png');
}

a.sorting.desc img {
  width: 8px;
  height: 4px;
  background-image: url('../../img_rtl/pager/desc.png');
}

a.sorting img:hover {
  background-position: right -14px;
}
